.encabezado {
  background-color: #1A535C;
  height: 40px;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

.encabezado a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}